* {
	font-family: 'Quicksand', sans-serif;
}
body {
	margin:0;
	max-width:100%;
	overflow-x:hidden;
}
img,svg {
	position: absolute;
	width:100%;
}
img {
	z-index:-1;
}
svg {
	z-index: 1;
	margin-left:0.35%;
}
path {
	opacity: 1;
	transition: opacity linear 0.2s 0.1s;
	stroke-width:1px;
}
path {
	fill: #871539;
	stroke: #a68c66;
}
path[data-price='-1'] {
	fill: #a68c66;
	stroke: #871539;
}
path[data-price='0'] {
	fill: #777;
	stroke: #871539;
}
path.greenery {
	fill: green;	
	stroke: darkgreen;
}
path:hover {
	fill: rgba(113, 21, 57, 0.7);
	stroke: #a68c66;
	stroke-width:1px;
}
path[data-price='-1']:hover {
	fill: rgba(166, 140, 102, 0.7);
	stroke: #871539;
	stroke-width:1px;
}
path[data-price='0']:hover {
	fill: rgba(7,7,7, 0.7);
	stroke: #871539;
	stroke-width:1px;
}
path.greenery:hover {
	fill: rgba(0,255,0,0.7);	
	stroke: darkgreen;
	stroke-width:1px;
}
.popover {
	padding:0;
	overflow:hidden;
}
.popover{
	border-color:#a68c66;
	min-width:200px;
}
.popover.spec{
	border-color:#871539;
}
.popover.sold{
	border-color:#871539;
}
.popover.greenery{
	border-color:darkgreen;
}
.popover .arrow{
	display:none;
}
.popover .popover-footer,
.popover .popover-title{
	text-align:center;
	margin:0;
	padding: 8px 14px;
	font-size:14px;
	border:none;
	color:#f7f7f7;
	background-color: #871539;
}
.popover.spec .popover-footer,
.popover.spec .popover-title{
	color:#f7f7f7;
	background-color: #a68c66;
}
.popover.sold .popover-footer,
.popover.sold .popover-title{
	color:#f7f7f7;
	background-color: #777;
}
.popover.greenery .popover-footer,
.popover.greenery .popover-title{
	color:#f7f7f7;
	background-color: green;
}
.popover.greenery .popover-footer {
	display:none;
}
.popover.greenery .block {
	display:none;
}
.address {
	font-weight:700;
	color:#871539;
}
.spec .address{
	color:#a68c66;
}
.sold .address{
	color:#777;
}
.greenery .address{
	color: green;
}
hr {
	margin: 10px auto;
	opacity:0.4;
	border-color: #871539;
}
.spec hr {
	border-color: #a68c66;
}
.sold hr {
	border-color: #a68c66;
}
.greenery hr {
	border-color: green;
}
dt, dd {
	display:inline-block;
}
dt {
	color: #616161;
	font-weight: 700;
	width:50px;
	margin-left:10px;
	vertical-align:top;
}
dd {
	min-width:50px;
	margin-left:15px;
	text-align: right;
	color:#871539;
}
dt:after {
	content:" :";
	float:right;
}
.spec dd {
	color: #a68c66;
}

.sold dd {
	color: #a68c66;
}
.top_border{
	border-top: 1px solid rgba(49, 49, 49, 0.5);
	margin-top:5px;
	padding-top:3px;
}	
.inline-block {
	display:inline-block;
}
.ridgeProperty .extras {
	display:none;
}
.static-label {
	display: none;
}
.greenery .static-label {
	display: block;
	text-align:center;
	font-weight:bold;
	color:darkgreen;
}